# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png
*.iml
.idea/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.lock
*.log
.env
*.jks
